html {
    scroll-behavior: smooth;
}

#body {
    padding: 50px;
    background-color: aquamarine;
}

#header {
    background-color: rgb(183, 214, 176);
    /* color: #fff; */
    position: sticky;
    top: 0;
}

.row-css {
    margin: 10px;
}

.navbar-css {
    color: #fff;
}

.form-css {
    padding: 0px 380px;
}